<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ .Site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <meta name="description" content="{{ .Site.Params.Description }}">
    <meta name="keywords" content="{{ .Site.Params.Keywords}}">

    {{ partial "meta.html" . }}  
    {{ partial "includes.html" . }}
    <link rel="shortcut icon" href="/images/favicon.ico"> 
    <link rel="apple-touch-icon" href="/images/favicon.ico">
    <link rel="canonical" href="{{ .Permalink }}">
    <!-- atom & rss feed -->

    {{ if .RSSlink }}
    <link href="{{ .RSSlink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
    <link href="{{ .RSSlink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
    {{ end }}
  </head>
  <body>    

<div class="page">
    {{ partial "menu.html" . }}
