<div class="navbar navbar-fixed-top">
  <div id="navbar-inner">
    <a class="logo" href="{{ .Site.BaseURL }}"><img src="/images/logo.png"/></a>
    <ul id="menu">
      <li>
        <a class="navlink" href="{{ .Site.Params.GitHub }}"><i class="fa fa-github"></i></a>
        <a class="navlink" href="/about/"><i class="fa fa-question-circle"></i></a>
      </li>
    </ul>
  </div>
</div>
<script>
$(function(){
  $('#menu').slicknav({
    label: '',
    appendTo: '#navbar-inner'
  });
});
</script>
